header{
    width:100%;
    position: fixed;
    top:0; left: 0;
    padding:2rem 1rem;
    z-index: 1000;
    background-color: #fff;
    box-shadow: -15px 20px 20px rgba(22, 4, 74, 0.15);
  }
  
  .header-active{
    background:#fff;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    padding: .5rem 1rem;
  }
  
  header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header a{
    color:var(--black);
  }
  
  header a:hover{
    color:var(--blue);
  }
  
  header .container .logo{
    font-size: 3rem;
  }
  
  header .container .logo span{
    color:var(--blue);
  }
  
  header .nav ul{
    margin:0; padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  
  header .nav ul li{
    margin: 0 1rem;
  }
  
  header .nav ul li a{
    font-size: 2rem;
  }
  
  header .fa-bars{
    font-size: 3.5rem;
    color:var(--blue);
    cursor: pointer;
    display: none;
  }